.container{
    width: 1000px;
    height: auto;
    margin: 10px 50% 10px 15%;
}
.header h5 p{
    color: #fb6c27;
}
.header button{
    background: #4167b2;
    padding-left: 20px;
}
.main .list ol li a{
    text-decoration: none;
    color: black;
}
.caption{
    display: block;
    background: #f2f2f2;
    padding: 10px;
    text-align: left;
    box-sizing: border-box;
    font-family: SFD-Medium;
    color: #666;
    font-size: 14px;
    line-height: 18px;
    margin-right: 38%;
}
pre{
    font-size: 17px;
    line-height: 25px;
}
.links a{
    background: transparent url(/web_images/bg_linkfooter.jpg) no-repeat scroll 0 0;
    color: #004370;
    font-size: 22px;
    font-weight: bold;
    padding-left: 0px;
    font-family: 'Times New Roman';
    text-decoration: none;
    line-height: 26px
    
}
.edit{
    margin: 10px;
    font-style: initial;
    background: gray;
    text-align: center;
}